<nz-row>
    <nz-col nzXs="24">
      <form [formGroup]="validateForm" nz-form nzLayout="vertical" (ngSubmit)="submitForm()">
  
        <ng-container *ngFor="let field of ['name', 'email', 'password', 'password_confirmation', 'phone_number', 'address', 'license_number']">
          <nz-form-item>
            <nz-form-label [nzRequired]="true">{{ field.replace('_', ' ') | titlecase }}</nz-form-label>
            <nz-form-control  [nzErrorTip]="field + ' is required!'">
              <input
                nz-input
                [formControlName]="field"
                [type]="field.includes('password') ? 'password' : 'text'"
                [placeholder]="'Enter ' + field.replace('_', ' ')"
              />
            </nz-form-control>
          </nz-form-item>
        </ng-container>
  
     
        <nz-form-item>
          <nz-form-label nzRequired>Image</nz-form-label>
          <nz-form-control>
            <label class="upload-btn">
              <input type="file" accept="image/*" (change)="onFileSelected($event)" hidden />
              <i nz-icon nzType="upload" nzTheme="outline"></i>
              Choose Image
            </label>
          </nz-form-control>
        </nz-form-item>
  
   
        <div *ngIf="imagePreviewUrl" style="margin-top: 10px">
          <img
            [src]="imagePreviewUrl"
            alt="Preview"
            style="max-width: 200px; border-radius: 8px; border: 1px solid #ccc;"
          />
        </div>
  
       
        <nz-form-item>
          <nz-form-label>Bio</nz-form-label>
          <nz-form-control>
            <textarea nz-input formControlName="bio" placeholder="Enter company bio"></textarea>
          </nz-form-control>
        </nz-form-item>
  
      
        <nz-form-item>
          <nz-form-control>
            <button nz-button nzType="primary" [disabled]="!validateForm.valid">Submit</button>
            <button nz-button type="button" (click)="close()">Cancel</button>
          </nz-form-control>
        </nz-form-item>
  
      </form>
    </nz-col>
  </nz-row>
  