<nz-row>
  <nz-col nzXs="24">
    <form
      nz-form
      nzLayout="vertical"
      [formGroup]="validateForm"
      (ngSubmit)="submitForm()"
    >
    
      <nz-form-item>
        <nz-form-label nzRequired>Title</nz-form-label>
        <nz-form-control
          nzHasFeedback
          [nzValidateStatus]="validateForm.get('title')!"
          [nzErrorTip]="titleErrorTpl"
        >
          <input
            nz-input
            formControlName="title"
            placeholder="Enter title"
          />
          <ng-template #titleErrorTpl>
            <ng-container *ngIf="validateForm.get('title')?.hasError('required')">
              Title is required!
            </ng-container>
          </ng-template>
        </nz-form-control>
      </nz-form-item>

     
      <nz-form-item>
        <nz-form-label nzRequired>Image</nz-form-label>
        <nz-form-control>
          <label class="upload-btn">
            <input type="file" accept="image/*" (change)="onFileSelected($event)" hidden />
            <i nz-icon nzType="upload" nzTheme="outline"></i>
            Choose Image
          </label>
        </nz-form-control>
      </nz-form-item>

 
      <div *ngIf="imagePreviewUrl" style="margin-top: 10px">
        <img
          [src]="imagePreviewUrl"
          alt="Preview"
          style="max-width: 200px; border-radius: 8px; border: 1px solid #ccc;"
        />
      </div>


      

      
      <nz-form-item>
        <nz-form-control>
          <button nz-button nzType="primary" [disabled]="!validateForm.valid">Submit</button>
          <button nz-button type="button" (click)="close()">Cancel</button>
        </nz-form-control>
      </nz-form-item>
    </form>
  </nz-col>
</nz-row>
