<nz-row>
  <nz-col nzXs="24">
    <form
      nz-form
      nzLayout="vertical"
      [formGroup]="validateForm"
      (ngSubmit)="submitForm()"
    >
    
      <nz-form-item>
        <nz-form-label nzRequired>Title</nz-form-label>
        <nz-form-control
          nzHasFeedback
          [nzValidateStatus]="validateForm.get('title')!"
          [nzErrorTip]="titleErrorTpl"
        >
          <input
            nz-input
            formControlName="title"
            placeholder="Enter title"
          />
          <ng-template #titleErrorTpl>
            <ng-container *ngIf="validateForm.get('title')?.hasError('required')">
              Title is required!
            </ng-container>
          </ng-template>
        </nz-form-control>
      </nz-form-item>

     
      <nz-form-item>
        <nz-form-label nzRequired>Image URL</nz-form-label>
        <nz-form-control
          nzHasFeedback
          [nzValidateStatus]="validateForm.get('imageUrl')!"
          [nzErrorTip]="imageUrlErrorTpl"
        >
          <input
            nz-input
            placeholder="https://example.com/image.jpg"
            formControlName="imageUrl"
          />
          <ng-template #imageUrlErrorTpl>
            <ng-container *ngIf="validateForm.get('imageUrl')?.hasError('required')">
              Image URL is required!
            </ng-container>
          </ng-template>
        </nz-form-control>
      </nz-form-item>
      
     
      <div *ngIf="validateForm.get('imageUrl')?.value" style="margin-top: 10px">
        <img
        [src]="validateForm.get('imageUrl')?.value"
        alt="Preview"
        width="120"
        style="border: 1px solid #ccc; border-radius: 4px"
      />
      </div>
      

      

      
      <nz-form-item>
        <nz-form-control>
          <button
            nz-button
            nzType="primary"
            [disabled]="!validateForm.valid "
          >
            Submit
          </button>
          <button nz-button type="button" (click)="close()">Cancel</button>
        </nz-form-control>
      </nz-form-item>
    </form>
  </nz-col>
</nz-row>
